*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    /* border: 3px solid black; */
    font-family: "DM Sans", sans-serif;


}

.main-container{
    width: 100%;
    height: auto;
}

/* header */
.header{
    width: 100%;
    height: 40px;
    background-color: #1a4840;
}
.header h4{
    color: white;
    text-align: center;
    padding: 10px;
}

/* nav */

nav{
    width: 100%;
    height: 50px;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.logo img{
    width: 100px;
    height: 40px;
}

.input{
    width: 300px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;
}
.input input{
    width: 250px;
    height: 30px;
    font-size: 11px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-left: 10px;

}
.icons{
    font-size: 20px;
    color: white;
    padding: 10px;
}

.icons i{
    margin-left: 7px;
}

.list{
    width: 100%;
    height: 30px;
    background-color: #0f0f0f;

}

.list ul{
    width: 80%;
    height: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 60px;
    padding-left: 30px;

}

.list ul li{
    font-size: 13px;
    font-weight: 800;
    color: white;
}

/* main img */

.img{
    width: 100%;
    height: 250px;
    display: flex;
}

.img img{
    width: 100%;
    height: 250px;
}

/* centre */
.centre{
    width: 100%;
    height: 30px;
    background-color: #08a3a8;
    padding: 3px;

}

.centre h5{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
}

/* button */
.button{
    width: 100%;
    height: 40px;
    background-color: #f9f6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 600px;
    padding-right: 10px;

}
.btn button{
    color: white;
    background-color: #08a3a8;
    padding: 4px;
    border: none;
}

.btn button i{
    margin-left: 25px;
}

.para p{
    font-size: 14px;
    font-weight: 400;
    color: #08a3a8;
}
/* cards */

.cards{
    width: 100%;
    height: auto;
    background-color: #f9f6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.card1{
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.up-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best{
    font-size: 13px;
    background-color: #19d464;
    padding-block: 5px;
    padding-right: 15px;
    padding-left: 5px;
    color: white;
}

.sale{
    font-size: 13px;
    background-color: #1a4840;
    padding: 5px;
    color: white;

}

.crdimg{
    margin-left: 20px;
}

.crdimg img{
    width: 150px;
    height: 150px;
}

.crdpara{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.crdpara h6{
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
}

.card1 p{
    font-size: 10px;
    color: #21979b;
    margin-block: 5px;

}

.card1 p span{
    text-decoration: line-through;
}

#save{
    color: red;
    text-decoration: none;
}

.card1 p i{
    color: rgb(181, 181, 42);
}

.card1 button{
    padding: 3px;
    background-color: #1a4840;
    color: white;
    border: none;
    margin-left: 60px;
    margin-block: 10px;
}

.menu{
    display: none;
}

.card2{
    display: none;
}


/*Responsive*/

@media (max-width: 480px) {
    .main-container{
        width: 100%;        
        height: auto;
        
    }

    nav{
        width: 100%;

    }
    .input{
        display: none;

    }

    .logo img{

        width: 100px;

    }

    .menu{
        display: block;
        color: #f9f6e6;
        padding-right: 10px;
    }

    .icons{
        display: none;
    }

    .header h4{
        font-size: 10px;
    }

    .list{
        display: none;
    }

    .para{
        display: none;
    }
    .button{
        margin-left: 0;
        padding-left: 0;
        justify-content: center;
    }

    .btn button{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .card1{
        display: none;
    }

   
        .card2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            background-color: white;
            border-radius: 5px;
            padding: 5px;
        }

        .card2 p{
            font-size: 10px;
            color: #21979b;
            margin-block: 5px;
        
        }
        
        .card2 p span{
            text-decoration: line-through;
        }
        
       
        
        .card2 p i{
            color: rgb(181, 181, 42);
        }
        .card2 button{
            padding: 3px;
            background-color: #1a4840;
            color: white;
            border: none;
            
            margin-block: 10px;
        }

        .crdimg{
            width: 100%;
            margin-left: 0;
            margin-block: 10px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .crdimg img{
            width: 100px;
            height: 100px;
        }
        
    
}
